/.vs
/WorkoutStorageBot/bin/Debug/
/WorkoutStorageBot/bin/Release/
/WorkoutStorageBot/obj
/WorkoutStorageBot/Application/StartConfiguration/appsettings.json

/WorkoutStorageImport/bin/Debug/
/WorkoutStorageImport/bin/Release/
/WorkoutStorageImport/obj