/.vs
/WorkoutStorageBot/bin/Debug/net9.0
/WorkoutStorageBot/bin/Release/net9.0
/WorkoutStorageBot/obj
/WorkoutStorageBot/Application/StartConfiguration/appsettings.json

/WorkoutStorageImport/bin/Debug/net9.0
/WorkoutStorageImport/bin/Release/net9.0
/WorkoutStorageImport/obj